<div class="page-wrapper">
    <app-navigation-bar></app-navigation-bar>

    <!-- <div class="page-header">
        <div class="header-wrapper row m-0 ">
            <div class="col-lg-2 d-lg-block d-sm-none d-none">
                <div class="logo-wrapper d-flex align-items-center">
                    <button  class="btn toggle-sidebar d-lg-none d-block"
                     type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="fa-solid fa-bars"></i></button>
                    <a href="" class="nav-logo">HR</a> 
                </div>
            </div>

            <div class="col-lg-3 d-lg-block d-sm-none d-none">
                <input type="text" class="form-control" name="" id="">
            </div>

            <div class="col-lg-5 d-lg-block d-sm-none d-none">
                <ul class="mb-0 ps-0 d-flex">
                    <li class="nav-item position-relative top-mainmenu-item top-active" style="padding: 7px 11px">
                        <a class="nav-link active text-white" href="#" data-bs-toggle="dropdown" ><i class="bi bi-grid-3x3-gap"></i></a>
                        <div class="dropdown-menu mega-menu modal-dialog-scrollable">
                            <div class="modal-content mega-menu-content">
                                <div class="modal-body megamenu-body">
                                    <ul class="ps-0">
                                        <div class="accordion topmenu-accordion" id="topMenuContainer">
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl7" aria-expanded="true" aria-controls="cl7">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl7" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl4" aria-expanded="true" aria-controls="cl4">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl4" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                   
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl2" aria-expanded="true" aria-controls="cl2">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl2" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl1" aria-expanded="true" aria-controls="cl1">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl1" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="test" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>

                                           
                                        </div>
                                    </ul>
                                  </div>
                            </div>
                          



                        </div>
                    </li>

                    <li class="nav-item position-relative top-mainmenu-item " style="padding: 7px 11px">
                        <a class="nav-link active text-white" href="#" data-bs-toggle="dropdown" ><i class="bi bi-grid"></i></a>
                        <div class="dropdown-menu  p-3">

                            <ul class="ps-0">
                               
                            </ul>



                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-12">
                <ul class="mb-0 d-flex float-end">
                    <li class="nav-item"><a href="" class="nav-link text-white"><i class="bi bi-bell-fill"></i></a>
                        <ul>

                        </ul>
                    </li>
                    <li><a href=""><i class="bi bi-calendar-week-fill"></i></a>
                        <ul></ul>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-gear-fill"></i></a>

                    </li>

                    <li>
                        <a  class="d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" >
                            <div class="userprofile-box"></div>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li> logout</li>
                        </ul>
                    </li>
                </ul>
            </div>
            

        </div>
    
    </div> -->





    <div class="page-body-wrapper">
       
        <app-sidebar></app-sidebar>

        <div class="page-body">
            <div class="container-fluid">
                <h2>content section</h2>

               <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </div>
</div>