<div class="page-wrapper" id="pageWrapper">


  <div class="page-header">
    <app-navigation-bar class="header-wrapper row m-0 " />
  </div>

  <!-- ---page body main  -->
  <div class="page-body-wrapper">
    <div class="sidebar-wrapper">

      <div class="logo-wrapper text-center ">
        <a href="#" class="brand-logo">HR</a>
      </div>


      <div class="sidemenu-wrapper">
        <!-- ---- sidebar component----  -->
        <app-sidebar />
      </div>


    </div>


    <!-- page body start  -->
    <div class="page-body">
      <app-dashboard-designer></app-dashboard-designer>

    </div>

    <!-- page body end -->


  </div>
  <!-- ---page bodymain  end -->


</div>