<div class="page-header">
    <div class="header-wrapper row m-0 ">
        <div class="col-lg-2 d-lg-block d-sm-none d-none">
            <div class="logo-wrapper d-flex align-items-center">
                <button  class="btn toggle-sidebar d-lg-none d-block"
                 type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="fa-solid fa-bars"></i></button>
                <a href="" class="nav-logo">HR</a> 
            </div>
        </div>

        <div class="col-lg-3 d-lg-block d-sm-none d-none">
            <input type="text" class="form-control" name="" id="">
        </div>

        <div class="col-lg-5 d-lg-block d-sm-none d-none">
            <ul class="mb-0 ps-0 d-flex">
                <li class="nav-item position-relative top-mainmenu-item top-active" style="padding: 7px 11px">
                    <a class="nav-link active text-white" href="#" data-bs-toggle="dropdown" ><i class="bi bi-grid-3x3-gap"></i></a>
                    <div class="dropdown-menu mega-menu p-3">

                        <ul class="ps-0">
                            <div class="accordion topmenu-accordion" id="topMenuContainer">


                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#topmenufavourite" aria-expanded="true" aria-controls="topmenufavourite">
                                    Favourites
                                  </a>
                                 

                                  <div id="topmenufavourite" class="accordion-collapse collapse show" data-bs-parent="#topMenuContainer">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                    Favourites
                                  </a>
                                 

                                  <div id="test" class="accordion-collapse collapse show" data-bs-parent="">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                    Favourites
                                  </a>
                                 

                                  <div id="test" class="accordion-collapse collapse show" data-bs-parent="">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                    Favourites
                                  </a>
                                 

                                  <div id="test" class="accordion-collapse collapse show" data-bs-parent="">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                    Favourites
                                  </a>
                                 

                                  <div id="test" class="accordion-collapse collapse show" data-bs-parent="">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                                <div class="accordion-item submenu-item">
                                  
                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                    Favourites
                                  </a>
                                 

                                  <div id="test" class="accordion-collapse collapse show" data-bs-parent="">
                                    <ul class="menulist-box">
                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>

                                        <li class="menulist-item d-flex justify-content-between">
                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                            <div class="custom-links">
                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center border-top-1 viwemore-btnbox">
                                        <a class="menu-viewmore-btn"> view More</a>
                                    </div>
                                  </div>

                                </div>

                             

                              

                            </div>
                        </ul>



                    </div>
                </li>

                <li class="nav-item position-relative top-mainmenu-item " style="padding: 7px 11px">
                    <a class="nav-link active text-white" href="#" data-bs-toggle="dropdown" ><i class="bi bi-grid"></i></a>
                    <div class="dropdown-menu  p-3">

                        <ul class="ps-0">
                           
                        </ul>



                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-2 col-12">
            <ul class="mb-0 d-flex float-end">
                <li class="nav-item"><a href="" class="nav-link text-white"><i class="bi bi-bell-fill"></i></a>
                    <ul>

                    </ul>
                </li>
                <li><a href=""><i class="bi bi-calendar-week-fill"></i></a>
                    <ul></ul>
                </li>
                <li>
                    <a href=""><i class="bi bi-gear-fill"></i></a>

                </li>

                <li>
                    <a  class="d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" >
                        <div class="userprofile-box"></div>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li> logout</li>
                    </ul>
                </li>
            </ul>
        </div>
        

    </div>

</div>
