<div class="page-header">
    <div class="header-wrapper row m-0 ">
        <div class="col-lg-3 col-2 d-lg-block d-sm-none d-block">
            <div class="logo-wrapper d-flex align-items-center">
                <button class="btn toggle-sidebar d-lg-none d-block"
                 type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilesideMenu" aria-controls="mobilesideMenu"><i class="mobtoggle-icon bi bi-list"></i></button>
            </div>
        </div>

        <div class="col-lg-4 d-lg-block d-sm-none d-none">
            <div class="d-flex">
                <div class="" style="flex: auto;">

                  ss
                </div>
                <ul class="topmenus-wrapper d-flex"  >
                    <!-- <li class="topmenu-item dropdown"><a class="topmenu-link" href="#" data-bs-toggle="dropdown"> <i class="bi bi-list topmenu-icon"></i></a>
                        <div class="dropdown-menu mega-menu modal-dialog-scrollable">
                            <div class="modal-content mega-menu-content">
                                <div class="modal-body megamenu-body">
                                    <ul class="ps-0">
                                        <div class="accordion topmenu-accordion" id="topMenuContainer">
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl7" aria-expanded="true" aria-controls="cl7">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl7" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl4" aria-expanded="true" aria-controls="cl4">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl4" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                   
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl2" aria-expanded="true" aria-controls="cl2">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl2" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl1" aria-expanded="true" aria-controls="cl1">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="cl1" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>
        
                                            <div class="accordion-item submenu-item">
                                              
                                                <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                                Favourites
                                              </a>
                                             
            
                                              <div id="test" class="accordion-collapse collapse show" >
                                                <ul class="menulist-box">
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
            
                                                    <li class="menulist-item d-flex justify-content-between">
                                                        <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                        <div class="custom-links">
                                                            <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                            <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
            
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center border-top-1 viwemore-btnbox">
                                                    <a class="menu-viewmore-btn"> view More</a>
                                                </div>
                                              </div>
            
                                            </div>

                                           
                                        </div>
                                    </ul>
                                  </div>
                            </div>
                          



                        </div>
                    </li> -->


                    <li class="menu-item-has-children">
                        <a href="#"><i class="bi bi-list topmenu-icon"></i></a>
                        <div class="sub-menu mega-menuss mega-menu-column-4">
                            <div class="mega-menu modal-dialog-scrollable">
                                <div class="modal-content mega-menu-content">
                                    <div class="modal-body megamenu-body">
                                        <ul class="ps-0">
                                            <div class="accordion topmenu-accordion" id="topMenuContainer">
            
                                                <div class="accordion-item submenu-item">
                                                  
                                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl7" aria-expanded="true" aria-controls="cl7">
                                                    Favourites
                                                  </a>
                                                 
                
                                                  <div id="cl7" class="accordion-collapse collapse show" >
                                                    <ul class="menulist-box">
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center border-top-1 viwemore-btnbox">
                                                        <a class="menu-viewmore-btn"> view More</a>
                                                    </div>
                                                  </div>
                
                                                </div>
            
                                                <div class="accordion-item submenu-item">
                                                  
                                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl4" aria-expanded="true" aria-controls="cl4">
                                                    Favourites
                                                  </a>
                                                 
                
                                                  <div id="cl4" class="accordion-collapse collapse show" >
                                                    <ul class="menulist-box">
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                       
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center border-top-1 viwemore-btnbox">
                                                        <a class="menu-viewmore-btn"> view More</a>
                                                    </div>
                                                  </div>
                
                                                </div>
            
                                                <div class="accordion-item submenu-item">
                                                  
                                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl2" aria-expanded="true" aria-controls="cl2">
                                                    Favourites
                                                  </a>
                                                 
                
                                                  <div id="cl2" class="accordion-collapse collapse show" >
                                                    <ul class="menulist-box">
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center border-top-1 viwemore-btnbox">
                                                        <a class="menu-viewmore-btn"> view More</a>
                                                    </div>
                                                  </div>
                
                                                </div>
            
                                                <div class="accordion-item submenu-item">
                                                  
                                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#cl1" aria-expanded="true" aria-controls="cl1">
                                                    Favourites
                                                  </a>
                                                 
                
                                                  <div id="cl1" class="accordion-collapse collapse show" >
                                                    <ul class="menulist-box">
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center border-top-1 viwemore-btnbox">
                                                        <a class="menu-viewmore-btn"> view More</a>
                                                    </div>
                                                  </div>
                
                                                </div>
            
                                                <div class="accordion-item submenu-item">
                                                  
                                                    <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#test" aria-expanded="true" aria-controls="test">
                                                    Favourites
                                                  </a>
                                                 
                
                                                  <div id="test" class="accordion-collapse collapse show" >
                                                    <ul class="menulist-box">
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                
                                                        <li class="menulist-item d-flex justify-content-between">
                                                            <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                                            <div class="custom-links">
                                                                <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                                                <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>
                
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center border-top-1 viwemore-btnbox">
                                                        <a class="menu-viewmore-btn"> view More</a>
                                                    </div>
                                                  </div>
                
                                                </div>
    
                                               
                                            </div>
                                        </ul>
                                      </div>
                                </div>
                              
    
    
    
                            </div>
                        </div>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#"> <i class="bi bi-grid topmenu-icon"></i></a>
                        <div class="sub-menu single-column-menu">
                            <ul>
                                <li><a href="#">Standard Layout</a></li>
                                <li><a href="#">Grid Layout</a></li>
                                <li><a href="#">single Post Layout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

          
        </div>

      

        <div class="col-lg-5 col-10">
            <ul class="mb-0 d-flex float-end align-items-center rightnavmenus">
                <li class="nav-item"><a class="nav-link"><i class="nav-icon bi bi-bell"></i></a>
                    <ul>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link"><i class="nav-icon bi bi-calendar-week-fill"></i></a>
                    <ul></ul>
                </li>
                <li class="nav-item"> <a  class="nav-link"><i class="nav-icon bi bi-gear-fill"></i></a>

                </li>

                <li class="nav-item dropdown menu-subitem">
                    <a  class="d-flex justify-content-center  align-items-center nav-link" data-bs-toggle="dropdown">
                        <div class="userprofile-box">
                            <img src="" class="nav-user" alt="">
                        </div>
                        <i class="nav-icon bi bi-chevron-down submenu_dropdown-icon"></i>
                    </a>
                    <ul class="dropdown-menu navbar_subdropdown-menu">
                        <li class="dropdown-menuitem"> <a class="dropdown-link"><i class="bi bi-box-arrow-right dropdownlink-icon"></i> logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        

    </div>

</div>




<div class="offcanvas offcanvas-start mobile-menucontainer" tabindex="-1" id="mobilesideMenu" aria-labelledby="mobilesideMenu">
    <!-- <div class="offcanvas-header mob-header"></div> -->
    <div class="offcanvas-body">
        <ul class="ps-0">
            <li class="nav-item mainmenu-item">  
                <ul class="module-menu ps-0">
                    <div class="accordion" id="sidebarSubmenuContainer">
                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#favourite" aria-expanded="true" aria-controls="favourite">
                            Favourites
                          </a>
                         

                          <div id="favourite" class="accordion-collapse collapse show" >
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>
                            </ul>
                            <div class="text-center border-top-1 viwemore-btnbox">
                                <a class="menu-viewmore-btn"> view More</a>
                            </div>
                          </div>

                        </div>
                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#leave" aria-expanded="true" aria-controls="leave">
                            Leave
                          </a>
                         

                          <div id="leave" class="accordion-collapse collapse show">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Return</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Encashment</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>
                            </ul>
                          </div>

                        </div>
                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#loan" aria-expanded="true" aria-controls="loan">
                            Loan
                          </a>
                         

                          <div id="loan" class="accordion-collapse collapse show">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Loan Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Loan Amendment</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                        </div>
                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#businesstravel" aria-expanded="true" aria-controls="businesstravel">
                                Business Travel
                          </a>
                         

                          <div id="businesstravel" class="accordion-collapse collapse show">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Air Ticket</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Expense</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                        </div>
                      </div>
                </ul>
            </li>
        </ul>
    </div>
</div>