<div class="sidebar-wrapper">
    <div class="logo-wrapper text-center ">
        <a href="#" class="brand-logo">HR</a>
    </div>
    

    <div class="sidemenu-wrapper">
        <ul class="nav ">
            <li class="nav-item mainmenu-item dropend "> 
                <a  class="nav-link" type="button" class="btn  dropdown-toggle-split " data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list sidemenu-icon"></i></a>
            
            
                <ul class="dropdown-menu module-menu">
                    <div class="accordion" id="sidebarSubmenuContainer">


                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#favourite" aria-expanded="true" aria-controls="favourite">
                            Favourites
                          </a>
                         

                          <div id="favourite" class="accordion-collapse collapse show" data-bs-parent="#sidebarSubmenuContainer">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>
                            </ul>
                            <div class="text-center border-top-1 viwemore-btnbox">
                                <a class="menu-viewmore-btn"> view More</a>
                            </div>
                          </div>

                        </div>


                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#leave" aria-expanded="true" aria-controls="leave">
                            Leave
                          </a>
                         

                          <div id="leave" class="accordion-collapse collapse show" data-bs-parent="">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Return</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon lvtype"></i>  <span class="menulink-text">Leave Encashment</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart lvtype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>
                            </ul>
                          </div>

                        </div>


                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#loan" aria-expanded="true" aria-controls="loan">
                            Loan
                          </a>
                         

                          <div id="loan" class="accordion-collapse collapse show" data-bs-parent="">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Loan Application</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon loantype"></i>  <span class="menulink-text">Loan Amendment</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart loantype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                        </div>



                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#businesstravel" aria-expanded="true" aria-controls="businesstravel">
                                Business Travel
                          </a>
                         

                          <div id="businesstravel" class="accordion-collapse collapse show" data-bs-parent="">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Air Ticket</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Plan</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon busnstype"></i>  <span class="menulink-text">Business Travel Expense</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart busnstype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                        </div>


                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#selfservice1" aria-expanded="true" aria-controls="selfservice1">
                                Self Service 1
                          </a>
                         

                          <div id="selfservice1" class="accordion-collapse collapse show" data-bs-parent="">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">Time Sheet</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">General Expenses</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">Benefit Claim</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                          

                        </div>


                        <div class="accordion-item submenu-item">
                          
                            <a class="accordion-button submenu-title" type="button" data-bs-toggle="collapse" data-bs-target="#selfservice2" aria-expanded="true" aria-controls="selfservice2">
                                Self Service 2
                          </a>
                         

                          <div id="selfservice2" class="accordion-collapse collapse show" data-bs-parent="">
                            <ul class="menulist-box">
                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">Time Sheet</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart-fill timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">General Expenses</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                                <li class="menulist-item d-flex justify-content-between">
                                    <a  class="d-flex menulist-link"> <i class="bi bi-card-checklist menulist-icon timesheettype"></i>  <span class="menulink-text">Benefit Claim</span> </a>
                                    <div class="custom-links">
                                        <a class="favicon-bx"><i class="bi bi-heart timesheettype-o"></i></a>
                                        <a class="text-white"><i class="bi bi-three-dots-vertical"></i></a>

                                    </div>
                                </li>

                               
                            </ul>
                          </div>

                          

                        </div>


                      </div>
                </ul>
            
            </li>


            <li class="nav-item mainmenu-item dropend "> 
                <a  class="nav-link" type="button" class="btn  dropdown-toggle-split " data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-grid sidemenu-icon"></i></a>
            
            
                <ul class="dropdown-menu ">
                   dfsf
                </ul>
            
            </li>




        </ul>
    </div>


</div>