<div class="page-header">

    <div class="header-wrapper row m-0 ">
        <div class="header-logo-wrapper col-xxl-3 col-3 p-0 ">
            <div class="logo-wrapper d-flex align-items-center">
                <button  class="btn toggle-sidebar"><i class="fa-solid fa-bars"></i></button>
                <a href="" class="nav-logo">HRW<sup>24</sup></a>
            </div>

        </div>

        <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-3 p-0 d-lg-block d-sm-none d-none">
           <div class="d-flex align-items-center justify-content-center gap-3 position-relative">
            <i class="bi bi-search search-icon"></i>
               <input type="text" class="form-control menu-searchinput" name="" id="">

               <div> <a href=""><i class="fa-solid fa-grip-vertical"></i></a></div>
           </div>

           


        </div>
        <div class="nav-right col-xxl-4 col-xl-6 col-md-7 col-6 p-0 ms-auto">

            <ul class="nav-menus float-end d-flex ps-0 align-items-center mb-0">

                <li class="d-md-none d-block"> 
                    <div class="form search-form mb-0">
                      <div class="input-group"> 
                        <span class="input-show"> 
                            <i class="fa-solid fa-magnifying-glass"></i>
                          <div id="searchInput" class="show">
                            <input type="search" placeholder="Search">
                          </div></span></div>
                    </div>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-bell"></i></a>
                  </li>
                  <li><a href=""><i class="fa-solid fa-gear"></i></a></li>
                  <li>
                    <a href="">user</a>
                  </li>

                 
                  
                 
            </ul>

        </div>
    </div>
</div>