<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt-4">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Landing 1</h5>
                 
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt-4">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Landing 1</h5>
                 
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt-4">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Landing 1</h5>
                 
                </div>
              </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt-4">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Landing 1</h5>
                 
                </div>
              </div>
        </div>
        
    </div>
</div>