// ===================== New design ================

// =============== mega menu design

.topmenus-wrapper {
  margin-bottom: 0;

  .topmenu-item {
    position: relative;
  }

  .topmenu-icon {
    font-size: 22px;
  }

  .mega-menu {
    background-color: #003144;
    height: calc(555px - 3rem * 2);
    overflow-y: scroll;
    padding-bottom: 8px;
    .collapse.show{
      padding-bottom: 10px;
      border-top: 1px solid #556c79;
    }
    .collapse.show .viwemore-btnbox {
      border-top: 1px solid rgba(222, 226, 230, 0.2392156863);
    
    }

    .collapse:not(.show) .viwemore-btnbox {
      border-top: none;
    }

    .parentmenu-text {
      color: #d9d9d975 !important;
      display: inline-block;
      font-weight: 500;

      margin-bottom: 3px;
      font-size: 14px;
    }
    .rootmenu-text {
      max-width: 210px;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #003144;
      display: none;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      display: none;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &:hover {
      display: block;
    }

    .mega-menu-content {
      padding: 12px;
      height: 450px;
    }

    .topmenu-accordion {
      margin: 0 3px;
      flex-wrap: wrap;

      .submenu-item {
        margin-bottom: 10px;
        min-width: 260px;
        position: relative;
        width: 260px !important;
        max-width: 260px;
        // height: 200px;
        margin: 7px 6px;
        background-color: #2a4757;
        border-radius: 10px;
        border: none;
        float: left;

        &:hover {
          min-width: 260px !important;
          width: 260px !important;
          max-width: 260px !important;
          display: block !important;
        }

        .submenu-title {
          font-size: 14px;
          text-decoration: none;
          padding: 8px;
          color: #fff;
          padding-left: 10px;
          padding-right: 12px;
        }

        .viwemore-btnbox {
          position: absolute;
          left: 0;
          width: 100%;
          background: #2a4757;
          border-radius: 0 0 9px 9px;
          bottom: 0;

          .menu-viewmore-btn {
            display: block;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            padding: 6px;

            &:hover {
              color: #0bb6f8;
              cursor: pointer;
            }
          }
        }
      }
    }

    .accordion-button:not(.collapsed) {
      box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
        #dee2e63d;
    }

    .accordion-button::after {
      flex-shrink: 0;
      width: var(--bs-accordion-btn-icon-width);
      height: var(--bs-accordion-btn-icon-width);
      margin-left: auto;
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 17px;
      background-position: center;
      transition: var(--bs-accordion-btn-icon-transition);
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .accordion-button {
      background-color: transparent;
    }

    .sidemenu-icon {
      color: #fff;
      font-size: 28px;
      transform: translate(0px, 0px) !important;
    }

    .menulist-box {
      padding-left: 14px;
      padding-right: 12px;
      height: 170px !important;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #003144;
        display: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        display: none;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .menulist-item {
        padding: 10px 0;

        .favicon-bx {
          i {
            font-size: 12px;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
        }

        .menulist-link {
          text-decoration: none;
          font-size: 13px;

          .menulink-text {
            margin: auto;
            color: #fff;
            width: 154px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .menulist-icon {
          margin-right: 10px;
          color: #fff;

          width: 24px;
          height: 24px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .custom-links {
          display: flex;
          gap: 10px;
        }
      }
    }

    .megamenu-body {
      background-color: #003144;

      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #003144;
        display: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        display: none;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}

.lvtype {
  background-color: #ea5a92;
}

.lvtype-o {
  background-color: #ea5a916b;
}

.busnstype {
  background-color: #b0ca70;
}

.busnstype-o {
  background-color: #b0ca7077;
}

.loantype {
  background-color: #fa8036;
}

.loantype-o {
  background-color: rgb(145 81 42 / 50%);
}

.timesheettype {
  background-color: #17c3a5;
}

.timesheettype-o {
  background-color: #17c3a660;
}
.menu-item-has-children{
  padding :0 10px;
}
.menu-item-has-children .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #003144;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  margin-top: 25px;
 
  opacity: 0;
  visibility: hidden;
}
.menu-item-has-children .sub-menu.mega-menuss {
  left: 50%;
  transform: translateX(-50%);
}

.topmenus-wrapper > .menu-item-has-children .sub-menu.mega-menu-column-4 {
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //   padding:20px 15px;
}

@media (min-width: 992.99px) {
  .menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 992.99px) {
  .page-header {
    margin-left: 0px;
    width: 100%;

    .header-wrapper {
      padding: 2px 3px;
      background-color: #003144;
    }

    .rightnavmenus .nav-item .nav-link {
      padding: 0 6px;

      .nav-icon {
        font-size: 17px;
        color: #fff;
      }

      .submenu_dropdown-icon {
        border: 1px solid #fff;
        font-size: 12px;
      }
    }
  }
}


/// child menu
.child_dropdown-menu{
  background-color: #2A4757;
  border: none;
  min-width: 249px;
  border-radius:  0 0px 10px 10px;
  // transform: translateX(69px) !important;
  

  .child_dropdown-title{
    color: #fff;
    border-bottom: 1px solid #bbb5b54a;
    padding: 5px 11px;
    font-size: 14px;
  }
   
    li{
      padding: 6px 7px;
      &:hover {
        background-color: #003144;
      }
      a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
       
      }

    
      .child_menu-icon{
        width :20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
       margin-right: 10px;
       padding: 12px;
       
        border-radius: 100%;
        color: #fff;

      }
    
    
  }

}
