<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 my-4">
            <div class="card card-body">

                <div class="row">
                    <div class="col-lg-7">
                        <h6 class="card-title">Widgets</h6>

                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex gap-2 justify-content-end">
                            <div>
                                <span class="drp-head-text">Module </span>
                                <a class="btn btn-secondary custom-dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    All
                                </a>
                                  <ul class="dropdown-menu custom-dropdown-menu">
                                    <input type="search" class="form-control dropdown-search" name="" id="">
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                  </ul>
                            </div>
                            <div>
                                <span class="drp-head-text">Size  </span>
                                <a class="btn btn-secondary custom-dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    All
                                </a>
                                  <ul class="dropdown-menu custom-dropdown-menu">
                                    <input type="search" class="form-control dropdown-search" name="" id="">
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                    <li><a class="list-item" href="#">Menu item</a></li>
                                  </ul>
                            </div>
                            </div>

                             
                    </div>
                </div>



                <div class="position-relative">

                    <a class="nav-prev" (click)="scrollPrevious()" [ngClass]="{ 'hidden': isPrevButtonHidden }"><i class="bi bi-caret-left-fill"></i></a>
                    <ul class="widget-wrapper ps-0 cata-sub-nav" #cataSubNav (scroll)="onScroll($event)">
                        <li class="widget-item"> 
                            <h6 class="widget-parent-title ps-2">Announcements</h6>
                            <ul class="ps-0 d-flex">
                                <li class="widget_sub-items mx-2">
                                    <a href="" (click)="addItem()"></a>
                                </li>
    
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
    
    
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
    
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
                            </ul>
                        </li>
    
    
                        <li class="widget-item">  
                             <h6 class="widget-parent-title ps-2">Announcements</h6>
                            <ul class="ps-0 d-flex">
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
    
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
    
    
                                <li class="widget_sub-items mx-2">
                                    <a href=""></a>
                                </li>
                            </ul>
                        </li>
    
                        <li class="widget-item">  
                            <h6 class="widget-parent-title ps-2">Announcements</h6>
                           <ul class="ps-0 d-flex">
                               <li class="widget_sub-items mx-2">
                                   <a href=""></a>
                               </li>
    
                               <li class="widget_sub-items mx-2">
                                   <a href=""></a>
                               </li>
    
    
                               <li class="widget_sub-items mx-2">
                                   <a href=""></a>
                               </li>
                           </ul>
                       </li>
    
    
                    </ul>
                    <a class="nav-next" (click)="scrollNext()" [ngClass]="{ 'hidden': isNextButtonHidden }"><i class="bi bi-caret-right-fill"></i></a>
                </div>
              
            </div>
        </div>
    </div>


  
<!-- 
    <div class="row">
        <div class="col-lg-12">
            <div style="border: 1px dashed #aaaa; height: 400px;">
                <div style="width: 100%; height: 100vh;">
                    <div class="options">
                      <a mat-raised-button href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/api"
                         target="_blank" class="source-code-button">
                       new
                        Source
                      </a>
                    </div>
                    <div class="options-header">
                      <button mat-raised-button color="accent" (click)="pushItem()" class="add-button cols-2">
                        Resize first item and push others
                      </button>
                      <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
                       add
                      </button>
                    </div>
                    
                    
                   
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 100vh;">
            <gridster [options]="options" >
                <gridster-item [item]="item" *ngFor="let item of dashboard">
                  <div class="button-holder">
                    <button mat-mini-fab (mousedown)="removeItem($event, item)"
                            (touchstart)="removeItem($event, item)">
                      delete
                    </button>
                  </div>
                </gridster-item>
              </gridster>
        </div>
    </div>
</div> -->







